.course{
    //background-color: grey;
    h3{
        color: gold;
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    }
    ion-list{
        ion-item,ion-item-options{
        font-size: 1.1em;
        color: darkslateblue;
        padding-bottom: 10px;
        height: 100px;
        img{
            height: 50px;
            width: 50px;
            vertical-align: middle;
            padding-right: 5px;
        }
        button{
            padding-bottom: 0;
        }
        }
    }
}